@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <img src="~/assets/PedidoAgil.jpg" class="img-fluid " alt="Imagem meramente ilustrativa" />
    <h4>Sistema de controle comercial para cadastro de clientes, produtos e controle de estoque. Organize suas vendas e lucre mais.</h4>
</div>
